
<main>
  <!--空の段落要素？id="notice"がついている-->
  <p id="notice"></p>
  <!--class="container"で要素を中央に配置-->
  <div class='container'>
  <!--class="row"で水平方向に均等に配置-->
    <div class='row'>
  <!--<h1 class="px-3 mx-auto">で左右のpaddingの余白を追加してmx-autoで要素を中央に配置-->
      <h1 class="px-3 mx-auto">Welcome to <i class="fas fa-book"></i><strong>Bookers</strong>!</h1>
    </div>
  </div>
</main>